{% extends 'base.html' %}

{% block content %}
<span class="col-md-3 col-sm-6 hero-feature"></span>
<div class="col-md-3 col-sm-6 hero-feature">
	<div class="thumbnail">
		<img src="{{item.picture.url}}" alt="">
		<div class="caption">
			<h3> {{item.item_name}}</h3>
			<p>{{ item.when_created }}</p>
		</div>
	</div>
</div>
<div class="col-md-3 col-sm-6 hero-feature">
	<div class="thumbnail">
		<p><strong>DESCRIPTION:</strong> {{ item.description }}</p>
		<p><strong>PRICE:</strong> Php {{ item.price }}</p>
		<p><strong>OWNER:</strong> {{ item.owner.username }}</p>
	</div>
</div>
{% endblock %}